/* Untuk Tablet */

@media (max-width: 1000px) {
    .top-wrapper {
        width: 100%;
    }
    
    .testi-wrapper {
      
    }
    
    .text-content {
        font-size: 18px ; 
    }
    .center-team-wrapper{
      width:50%;
      
    }
    .header-right {
    display:none;
    
    margin-bottom:50px;
    }
}

/* Untuk Smartphone */ 
@media (max-width:670px) {
  
  .center-team-wrapper {
    width:25%;
    padding-top:500px;
  }
  
  .container {
    margin:100px;
  }
  
  .team img {
    width:100%;
    
  }
  .testi-icon img {
    width:100%;
   
  }
  
  .txt-contents {
    font-size:15px;
  }
  
  .header-right {
    display:none;
  }
    
  .testi-wrapper {
    padding-top:500px;
  }
  
  .testi-icon p {
    float:left;
    font-size:10px;
    line-height:10px;
  }
  
  .team {
    display:block;
    width:100%;
  }
}

