html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 

{
	margin: 0;
	padding: 0;
  border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
    box-sizing: border-box;
}

body { 
  font-family: "Lucida Grande";
}

header {
    height: 80px;
    background-color:rgb(19, 134, 187);
    color:white;
    width: 100%;
    position: fixed;
    z-index: 99;
  }
  .header-button a {
    color: white;
    
  
  }
  .header-left {
    padding-top: 0.05px;
    padding-left: 20px;
    font-size: 25px;
    float:left;
    font-weight: bold
    
  }
  .header-wrapper {
      align-items: center;
      width: 100%;
      /* position: fixed; */
  }
   a {
    float: right;
    font-size: 17px;
    padding-right: 25px;
    display: block;
    line-height: 80px;
    text-decoration: none;
    
   }
  
   .blog {
     /* margin-right: 30px; */
     background-color:rgba(135, 206, 235, 0.8);
     padding-left: 25px;
     
   }
   .forum {
     background-color: rgba(255, 160, 122, 0.8);
     padding-left: 25px;
     
   }
   .e-commerce {
     background-color:rgba(144, 238, 144, 0.8);
     padding-left: 25px;
     
   }
   .e-learning {
     background-color: rgba(176, 196, 222, 0.8);
     padding-left: 25px;
     
   }
   .forum:hover {
     background-color: rgba(255, 160, 122, 1) ;
   }
   .e-commerce:hover {
     background-color: rgba(144, 238, 144, 1);
   }
   .e-learning:hover {
     background-color: rgba(176, 196, 222, 1);
  
   }
   .blog:hover {
     background-color:rgba(135, 206, 235, 1);
   }
   .header-button {
     transition: all 1s;
   }
   


.center {
    margin: auto;
    width: 100%;
}

.container {
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#team-section {
  margin-top: 25px;
}

#team-section h1 {
    border-bottom: 2px solid blue;
    text-align: center;
    width: 230px;
}

.center-team-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0 0;
    width: 640px;
}
.team {
    background-color: green;
    margin-right: 29px;
    padding-left: 27px;
    padding-top: 23px;
    margin-bottom: 24px;
    height: 231px;
    width: 170px;
    transition: 0.3s;
}

.team:hover {
    margin-top: -15px;
}

.team img {
    width: 60px;
    height: 60px;
}

.btn-pesan {
    width: 230px;
    height: 40px;
}

.testi-container {
  height:600px;
}

.heading {
  text-align:center;
  padding-top:50px;
  color:black;
}

.testimonie {
  width:50%;
  float:left;
  color:black;
}


.testi-icon img {
  padding-top:60px;
  width:400px;


}

.testi-icon {
  padding-left:20px;
  position:relative;
}

.testi-icon p {
  letter-spacing:1px;
  font-family:fantasy;
  color:rgb(75,155,178,0.7);
  padding-top:50px;
  top:0.5px;
  padding-left:65px;
  position:absolute;
  font-size:20px;


}

.txt-contents {
  padding-left:10px;
  width:80%;
  font-size:26px;
  text-align: justify;
}

.testi-wrapper {

  height:1300px;
  background-size: cover;
  color: white;
  background-image:url(https://i.ibb.co/VwCnyFc/Design-Challenge-Blue-Gradient-Technology-Wide-Presentation-2.png);
}

.top-wrapper {
  padding: 180px 0 100px 0;
  
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.65), 
    rgba(0, 0, 0, 0.75)
  ), url(https://www.blibli.com/friends/assets/2019/10/photo-1548686304-89d188a80029.jpeg);
  background-size: cover;
  color: white;
  text-align: center;
  height: 90vh;
  width: 100%;
}

.top-wrapper h1 {
	font-size: 45px;
	letter-spacing: 5px;
}

.top-wrapper .hero {
  margin-bottom: 100px;
}

.btn-pesan-hero {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  text-align: center;
  border-radius: 4px;
  background-color: #239b76
}


.footer {
	background-color: #00FFFF;
	height: 120px;
	color: #fff;
	padding: 90px;
	width: 100%;
	margin: 0 auto;
}

.footer-logo {
	float: left;
	font-size: 32px;
}

.footer-list li {
	padding: 30px 50px;
	float: right;
	list-style-type: none;
}

.clear {
  clear:left ;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  
}
